.headerPub{
  font-family: "Bodoni MT Condensed", serif;
  font-size: x-large;
}

.gridList{
  margin-top: 1em !important;
}

.PUBLIC{
  font-size: 4em;
}

.seperator{

  margin-left: 2vw;
  margin-right: 2vw;
  background: #b3b3b3;
}
