<mat-tab-group class="tabs">
  <mat-tab label="Politics"> Politics</mat-tab>
  <mat-tab label="Tech"> Tech </mat-tab>
  <mat-tab label="Sports"> Sports </mat-tab>
  <mat-tab label="World">World  </mat-tab>
  <mat-tab label="Science"> Science </mat-tab>
  <mat-tab label="Economics">Economics  </mat-tab>
  <mat-tab label="Health"> Health </mat-tab>
  <mat-tab label="Gossip">  Gossip</mat-tab>
  <mat-tab label="Opinions"> Opinions </mat-tab>
  <mat-tab label="Arts">Arts  </mat-tab>
</mat-tab-group>
