
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button (click)="onClickedSearch()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" >
    <mat-icon>search</mat-icon>
  </button>
  <form class="example-form" *ngIf="showInput">
    <mat-form-field >
      <input matInput value="search">
    </mat-form-field>
  </form>
  <span></span>
  <div class="spacer"></div>
  <button mat-button routerLink="newarticle" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    new Article    <mat-icon>create</mat-icon>
  </button>
  
  <button mat-button routerLink="admin" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    admin
  </button>
  <button *ngIf="!(loginService.isLoggedIn | async)" mat-button routerLink="login" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    login
  </button>
  <button *ngIf="loginService.isLoggedIn | async" mat-button (click)="onClickedLogOut()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    logout
  </button>
  <button *ngIf="!(loginService.isLoggedIn | async)" mat-icon-button routerLink="register" class="example-icon" aria-label="Example icon-button with share icon">
    register
  </button>
  <div *ngIf="loginService.isLoggedIn | async"> {{loginService.userName | async}} שלום</div>
</mat-toolbar>